astroid==2.12.13
autopep8==2.0.0
colorama==0.4.6
dill==0.3.6
distlib==0.3.6
filelock==3.8.2
isort==5.11.1
joblib==1.2.0
lazy-object-proxy==1.8.0
mccabe==0.7.0
numpy==1.23.5
platformdirs==2.6.0
pycodestyle==2.10.0
pylint==2.15.8
scikit-learn==1.2.0
scipy==1.9.3
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
tqdm==4.64.1
tweepy==4.12.1
virtualenv==20.17.1
wrapt==1.14.1
lxml==4.9.1
Mastodon.py==1.5.1
